@media (min-width: 320px){
  .popup{
    position: absolute;
    transform: translateX(-100vw);
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity .5s linear;
    &.active{
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(0);
      z-index: 3;
      opacity: 1;

    }
    &_items{
      background-color: white;
      padding: 20px;

    }
    & .container {
      position: relative;
      width: calc(100% - 40px);
      margin: auto ;
      height: calc(100% - 40px);
      padding: 20px;
      overflow: scroll;
      background-color: rgba(15, 15, 15, .9);
    }
    &_img img{
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center 20%;
    }
    &_exit{
      position: absolute;
      display: block;
      top:10px;
      right: 10px;
      width: 24px;
      height: 24px;
      fill: white;
    }
    &_contact{
      height: fit-content;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

    }
    &_content{
      padding-top: 20px;
      display: grid;
      grid-template-columns: 10fr 1fr;
      grid-column-gap: 10px;
      & a{
        color: black;
        text-decoration: none;
      }
    }
    & .linkedin{
      width: 25px;
      height: 25px;
      display: block;
      background-image: url('../img/Linkedin.svg');
      align-self: flex-end;

    }
    &_title{
      margin-top: 25px;
      border-bottom: 1px solid #000000E6;
      & h3{

        font-size: 27px;
        font-weight: 700;

        letter-spacing: 0.14px;
        color: #2DCCD3;
        text-transform: uppercase;
      }
      & p{
        font-size: 17px;
        line-height: 23px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.77px;
        color: #000000E6;
        margin-bottom: 15px;
      }
      & span{
        font-size: 15px;
        line-height: 23px;
        font-weight: 600;
        letter-spacing: 2.25px;
        color: #000000E6;
        text-transform: uppercase;
      }
    }
    &_text  {
      padding-top: 26px;
      width: 100%;
      height: fit-content;
      line-height: 28px;
      letter-spacing: 0.07px;
      color: #000000E6;
      & p{
        font-size: 15px;
      }
    }
  }
}
@media (min-width: 768px){
  .popup{
    &_items{
      display: flex;
    }
    &_left{
      width: 372px;
    }
    &_right{
      width: 100%;
      padding-left: 20px;
    }
    &_title{
      margin-top: 0;
    }
    & .container{
      overflow: hidden;
    }
    &_text{
      height: 438px;
      overflow-y: scroll;
    }
    &_exit{
      top: 40px;
      right: 40px;
    }
  }
}
@media (min-width: 1200px) {
  .popup {

    &_img img {

      height: 506px;
    }

    &_content {
      width: 100%;
    }

    &_right {
      padding-left: 30px;
      width: 572px;
    }
    &_left {
      width: 380px;
    }
    &_exit{
      top: 55px;
      right: 55px;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      & .popup_items {
        width: 1110px;
        position: relative;
        box-sizing: border-box;
        padding: 65px;
      }
    }
    &_title{
      padding-bottom: 21px;
    }
    & .linkedin{
      justify-self: flex-end;
    }
  }
}
.opacity{
  opacity: 0;
}
